# Virtual environment
.venv

# Vim swap files
*swp

# Python caches and binaries
__pycache__
*pyc

# Sqlite database
db.sqlite3

# Yarn/node
yarn.lock
node_modules

# css
*\.css

# js
**/static
.cache

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
