nav.bbq-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-button {
    outline: 0;
    padding: 5px 10px;
    color: lighten($blue, 15%);
    font-weight: bold;
    &:hover {
      color: $blue;
    }
  }
}

%menu-shared {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  &>a {
    min-width: 256px;
    margin: 10px 0;
  }
}

.home-menu {
  @extend %menu-shared;
  align-items: center;
  justify-content: center;
}

.event-menu {
  @extend %menu-shared;
  padding-top: 50px;
}

.event-admin-info {
  @extend %menu-shared;
  padding-top: 50px;
  p {
    padding-top: 40px;
  }
  input {
    height: 20px;
    width: 60px;
    text-align: center;
  }
  .meat-list {
    margin-left: -70px;
    padding: 20px 0;
  }

  #name {
    width: 200px;
  }

  .participant-count, .meat-count {
    max-width: 600px;
    margin-top: 50px;
  }
}

.create-event-form {
  &>p input {
    height: 15px;
  }

  .controls {
    padding-top: 20px;
  }

  .meats-heading {
    padding-top: 10px;
  }
  .meats {
    padding: 10px 0;
  }

  #meats-chosen {
    .entry {
      width: 100%;
      padding-top: 3px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        padding-left: 15px;
      }
      .button {
        width: 36px;
      }
    }
  }
}
