nav.bbq-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-button {
    outline: 0;
    padding: 5px 10px;
    color: lighten($blue, 15%);
    font-weight: bold;
    &:hover {
      color: $blue;
    }
  }
}

.home-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  a {
    min-width: 256px;
    margin: 10px 0;
  }

}
